body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1100px;
   margin: 0 auto;
}

.burger {
    display: none;
    cursor: pointer;
    margin-top: 21px;
    margin-left: 20px;
    width: 30px;
    background: #000000 url(./img/burger-mob.png) no-repeat;
    border: none;
    outline: none;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    color: #ffffff;
}

.header-logo {
    padding: 10px 0 0 10px;
}

.nav-list {
    display: flex;
}

.nav-item {
    list-style: none;
    padding: 5px;
}

.nav-link {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
}

.btn-all {
    cursor: pointer;
    display: block;
    background: #000000;
    color: #ffffff;
    border: none;
    outline: none;
    margin-top: -12px;
    font-size: 25px;
}

.search {
    cursor: pointer;
    display: block;
    background: #000000 url(./img/header-Icon.png) no-repeat;
    width: 17px;
    height: 39px;
    border: none;
    outline: none;
    margin-top: 23px; 
}

.search-show {
    display: block;
    border: none;
    outline: none;
    border-radius: 10px;
    height: 15px;
    width: 100px;
    padding: 5px 10px;
    margin-top: 17px;
    background: none;
}

.login {
    cursor: pointer;
    display: block;
    background: #000000 url(./img/CircleFind-Header.png) no-repeat;
    width: 20px;
    height: 39px;
    border: none;
    outline: none; 
    margin-top: 23px; 
}

.language {
    cursor: pointer;
    display: block;
    background: #000000 ;
    color: #ffffff;
    width: 45px;
    height: 39px;
    border: none;
    outline: none; 
    margin-top: 12px; 
    margin-right: 5px;
}

.bread-crumbs {
    background-color: #f8f8f8;
    padding: 1px;
}

.crumbs-list {
    display: flex;
    list-style: none;
}

.crumbs-item a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #b4b5c2;
    font-size: 12px;
    margin: 10px;
}

.crumbs-list {
    margin: 0;
    padding: 5px;
}

.crumbs-arrow {
    display: inline-block;
    background: url(./img/arrow-under-nav.png) no-repeat;
    width: 8px;
    height: 23px;
    vertical-align: bottom;
}

.results {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.result-prev {
    cursor: pointer;
    display: block;
    background: url(./img/arrow-result.png) no-repeat;
    width: 8px;
    height: 12px;
    border: none;
    outline: none; 
    margin-top: 30px;
    margin-left: 10px;
}

.result-next {
    cursor: pointer;
    display: block;
    background: url(./img/arrow-res2.png) no-repeat;
    width: 8px;
    height: 12px;
    border: none;
    outline: none; 
    margin-top: 30px;
    margin-right: 10px;
}

.results-block {
    display: flex;
    max-width: 170px;
    
    border: 1px solid rgb(184, 184, 184, .2);
    border-radius: 8px;
}

.result-info {
    padding: 10px;
}

.result-wrapper-top {
    display: flex;
}

.result-wrapper-bottom {
    display: flex;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.result-info h2 {
    font-size: 8px;
    color: #b4b5c2;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.logo-of-team {
    margin-bottom: 5px;
    width: 18px;
    height: 18px;
}

.count {
    display: flex;
    width: 40px;
    align-items: center;
    flex-direction: column;
    background: #f4f5f6;
    padding-top: 10px;
}

.result-top-title, .result-bottom-title {
    font-size: 12px;
    color: rgb(49, 49, 49);
    line-height: 1.8;
    margin-left: 7px;
}

.count-title {
    font-size: 8px;
    color: #b4b5c2; 

}

.count-top, .count-bottom {
    font-size: 17px;
    color: rgb(29, 28, 28);
    font-weight: 600;
    line-height: 1.4;

}

.count-in-brackets {
    font-size: 14px;
    color: rgb(146, 145, 145);
    display: inline-block;
    vertical-align: top;
}

.count-live {
    
    background: #f87007;
    border-radius: 5px;
}

.title-live {
    color: #ffffff;
}


.content {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.slider {
    background: #000000 url(./img/slider.jpg) no-repeat;
    background-size: cover;
    margin: 20px;
}

.prev-next-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
    padding-bottom: 60px;
}

.slider-prev {
    cursor: pointer;
    display: block;
    background: url(./img/slider-arrow-left.png) no-repeat;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
}

.slider-prev:hover {
    opacity: .8;
}

.slider-next {
    cursor: pointer;
    display: block;
    background: url(./img/slider-arrow-right.png) no-repeat;
    width: 20px;
    height: 20px;
    border: none;
    outline: none; 
}

.slider-next:hover {
    opacity: .8;
}

.slider-text-wrapper {
    display: flex;
    padding: 10px 30px;
}

.liga {
    color: #f87007;
    font-size: 15px;
    padding-right: 15px;
}

.slider-time, .slider-date {
    font-size: 13px;
    color: #b4b5c2;
}

.slider-title {
    font-size: 20px;  
    font-weight: 600;
    padding: 10px 30px;
}

.slider-news {
    font-size: 16px;  
    font-weight: 500;
    padding: 10px 30px;
}

.btn-wrapper {
    display: flex;
    max-width: 300px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 30px;
}

.slider-btn {
    cursor: pointer;
    width: 50px;
    height: 5px;
    background-color: #4d4e50;
    border-radius: 3px;
    border: none;
    outline: none; 
    margin-bottom: 10px;
}

.slider-btn:hover {
    opacity: .7;
}

.slider-selected {
    background-color: #f87007;
}

.reviev-wrapper {
    margin-top: 20px;
    padding: 20px;
}

.reviev-block {
    display: flex;
    background: #fcfcfc;
    border: 1px solid #edebeb;;
    border-radius: 10px;
    padding: 15px;
}
.football-img-mobile {
    display: none;
}

.reviev-content-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.date-who-wrapper {
    display: flex;
}

.reviev-date {
    font-size: 13px;
    color: #b4b5c2;
    margin-right: 10px;
}

.reviev-who {
    font-size: 13px;
    color: #6a8541;
}

.reviev-title {
    font-size: 16px;
    color: #1b1b1b;
    font-weight: bold;
    padding: 8px 0;
}

.reviev-title span {
    font-size: 13px;
    color: #b4b5c2;
}

.reviev-discription {
    font-size: 13px;
    color: #7f7f7f;
}

.img-wrapper {
    margin: 0;
}

.reviev-date-middle {
    text-align: center;
    background: #fcfcfc;
    padding: 10px;
    font-size: 13px;
    color: #b4b5c2;
    border: 1px solid #edebeb;;
    border-radius: 10px;
    margin: 20px 0;
}

.btn-reviev-wrapper {
    display: flex;
    max-width: 270px;
    justify-content: space-between;
    margin: 20px auto;
}

.reviev-btn {
    cursor: pointer;
    color: #b4b5c2;
    background: none;
    border: none;
    outline: none;
    padding: 5px; 
}

.reviev-btn:hover {
    color: #4d4e50;
}

.reviev-selected {
    color: #ffffff;
    background: #f87007;
    border-radius: 4px;
    padding: 5px 8px;
}

.reviev-prev {
    cursor: pointer;
    display: block;
    background: url(./img/arrow-result.png) no-repeat;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    margin-top: 5px;
}

.reviev-next {
    cursor: pointer;
    display: block;
    background: url(./img/arrow-res2.png) no-repeat;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    margin-top: 5px;
}

.content-right {
    max-width: 300px;
    background-color: #313438;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 20px;
    height: fit-content;
}

.news-title {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 10px;
}

.news-img-wrapper {
    background: url(./img/fase.jpg) no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 10px;
}

.time-who {
    font-size: 13px;
    color: #b4b5c2;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.news-img-discription {
    font-size: 14px;
    padding-left: 10px;
}

.message-count {
    font-size: 11px;
    color: #b4b5c2;
}

.news-block {
    border-bottom:  1px solid #4e5154;
    margin: 0 10px;
}

.time-who-wrapper {
    font-size: 13px;
    color: #b4b5c2;
    padding-top: 10px;
}

.news-discription {
    font-size: 14px;
    padding: 10px 0;
    font-weight: 400;
}

.border-none {
    border: none;
}
.all-news {
    padding: 10px;
    text-align: center;
    border-top:  1px solid #4e5154;
    color: #f87007;
}

.all-news:hover {
    cursor: pointer;
    color: #fa5311;
}

.footer {
    background: #000000 url(./img/BitmapFooterBcg.png) no-repeat;
    background-size: cover;
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
}

.footer-world {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.footer-item {
    list-style: none;
    
}
.footer-item a {
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    padding-right: 10px;
}

ul {
    margin: 0;
    padding: 10px 0 0 0;
}

.world-uk {
    display: flex;
    flex-direction: column;
   
}

.uk-wrapper {
    display: flex;
    border-top: 1px solid #4e5154;
    
}

.uk-left {
    margin-right: 20px;
}

.world-all {
    display: flex;
    flex-direction: column;
}

.all-left {
    margin-right: 20px;
}

.world-wrapper {
    display: flex;
    border-top: 1px solid #4e5154;
}

.world-different {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.footer-title {
    font-size: 18px;
    color: #ffffff;
    padding-bottom: 10px;
}

.competition-title {
    border-bottom: 1px solid #4e5154;
}

.different-title {
    border-bottom: 1px solid #4e5154;
}

.footer-middle {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #4e5154;
    border-top: 1px solid #4e5154;
}

.social-icon {
    cursor: pointer;
    padding-right: 10px;
}

.mobile {
    cursor: pointer;
    color: #ffffff;
    font-size: 13px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 90px 20px;
    color: #ffffff;
    font-size: 13px;
}

.bottom-right {
    font-size: 15px;
    padding-right: 150px;
}

.footer-list {
    padding: 0;
}

.app-wrapper {
    display: none;
}


@media (max-width: 1060px) {
    .lifestyle, .rating, .sport, .tv {
        display: none;
    }
    .hidden {
        display: none;
    }
}

@media (max-width: 880px) {
   .match, .video {
    display: none;
   } 
   .content {
    flex-direction: column;
  }
  .content-right {
    margin: 0px auto;
    max-width: 600px;
  }
  .news-img-wrapper {
    background-size: cover;
    padding-top: 200px;
  }
  .world-different {
    width: 220px;
  }
  .footer-world {
      flex-direction: column;
  }
  .world-uk {
      padding-bottom: 20px;
      margin: 0 auto;
  }
  .world-all {
      padding-bottom: 20px;
      margin: 0 auto;
  }
  .world-different {
    margin: 0 auto;
  }
}

@media (max-width: 730px) {
    .results {
        display: none;
    }
    .slider {
        background-size: contain;
    }
}

@media (max-width: 630px) {
    .language {
        display: none;
    }
    .search-show {
        width: 60px;
    }
    .login {
        margin-right: 20px;
    }
}

@media (max-width: 530px) {
.burger {
    display: block;
}
.navigation {
    display: none;
}
}

@media (max-width: 380px) {
    .prev-next-wrapper {
        display: none;
    }
    .slider-news {
        display: none;
    }
    .slider-title {
        font-size: 14px;
    }
    .slider-text-wrapper {
        padding: 70px 10px 10px 10px;
    }
    .slider-btn {
        width: 30px;
        height: 3px;
    }
    .btn-wrapper {
        max-width: 170px;
    }
    .reviev-discription {
        display: none;
    }
    .football-img {
        display: none;
    }
    .football-img-mobile {
        display: block;
    }
    .reviev-date, .reviev-who {
        font-size: 10px;
    }
    .reviev-title {
        font-size: 11px;
    }
    .footer {
        background: #202020;
    }
    .world-uk {
        margin: 0;
    }
    .world-all {
        margin: 0;
    }
    .world-different {
        margin: 0;
    }
    .footer-middle {
        flex-direction: column;
    }
    .social {
        display: flex;
        justify-content: space-around;
    }
    .bottom-right {
        display: none;
    }
    .app-wrapper {
        display: flex;
        justify-content: space-around;
        border-top: 1px solid #4e5154;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .footer-item a {
        padding: 7px;
    }
}
